body{
    font-family: 'Comfortaa', cursive;
}
.fon{
    background-color: seashell;
}
.header{
    min-height: 80px;
}

.info2, .info3 {  
    vertical-align: middle;
    background-color: white;
    
    font-size: 5vw;
}
.carousel-text{
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.45);
    
}
.cell{
    min-width: 150px;
    min-height: 150px;
    background-color: fff;
}
h4{    
    font-size: 1.1rem;
}
.footer{
    min-height: 100px;
}
.firstview{
    width: 100%;
}
.cell_img{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.img_pelm{
  
    width: 100%;
    margin: auto;
}
.shapka{
    background-color: seashell !important;
    width: 100%;
    font-family: 'Source Sans Pro';
    font-weight: normal;
}
.spisok{
    background-color: seashell;
    height: 200px;
    overflow-y:auto;
}
.active:hover{
    text-decoration: underline;
}
.center{ 
    font-size: 20px;  
    margin: 30px;
    display: inline;
    margin: 0 auto;
}
.cells_name{
    font-size: 1.25rem;
    padding-left:0.5rem;
}
.pel_text{
    padding: 0.25rem;
}
.iconf{
    font-size: 1.75rem;
    color: sandybrown;
}
.footerr{
    min-height:150px ;
}
